@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #121212;
  /* Dark background */
  color: #e0e0e0;
  /* Light text color */
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

input,
button {
  background-color: #333333;
  color: #e0e0e0;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

input::placeholder,
button:hover {
  color: #aaaaaa;
}

/* Navbar & Sidebar */
.bg-gray-900 {
  background-color: #1e1e1e;
  /* Darker gray for navbar */
}

.bg-gray-800 {
  background-color: #121212;
  /* Slightly lighter gray */
}

.text-gray-300 {
  color: #b3b3b3;
  /* Light gray text for icons and labels */
}

.text-white {
  color: white;
}

.hover\:text-white:hover {
  color: white;
}

button {
  cursor: pointer;
}

h2,
p {
  font-weight: 500;
}

/* Add custom styles for other components */

@layer utilities {
  .trapezium {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  }

  .trapezium2 {
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  }

  .rectangle {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .transition-height {
    transition-property: height;
    transition-duration: 700ms; /* Customize duration */
  }


}
